<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <br><br>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    <br><br>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/>
    <br><br>
    <label for="email">Введите почту: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
    <br><br>
    <label>Роль:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}">
    </label>
    <br><br>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
    <br><br>
    <input type="submit" value="Зарегестрироваться!">
    <br><br>

</form>

</body>
</html>